$dark: #101010; // 전체 백그라운드 색 (dark)

$gray: #747678; // 기본 Font Color

$navy: #2e343b; // 메뉴 Select 및 강조 Color

$blue-900: #003da1; // 스토리지 Item Select 및 강조 Color

$blue-500: #0070a8; // Complete 아이템에 사용될 Color

$red: #a52d2f;

$white: #ffffff;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;
