.sidebar {
  width: 15%;
  max-width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 10px;
  color: white;
}

.projectsContainer {
  flex: 1; /* 상단 영역이 가득 차도록 */
  overflow-y: auto; /* 내부 스크롤 */
}

.starredContainer {
  height: 20%;
  overflow-y: auto; /* 내부 스크롤 추가 */
}

.title {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}

.folderTitle {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projectList {
  list-style: none;
  padding: 0;
}

.projectItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.projectItem:hover {
  background-color: #333;
}

.selected {
  background-color: #555;
}

.button {
  border: 1px solid #555;
}
